$black: #000000;
$white: #fff1e8;

$blue: #1d2b53;
$purple: #7e2553;
$green: #008751;
$brown: #ab5236;
$brown2: #5f574f;
$grey: #c2c3c7;
$red: #ff004d;
$orange: #ffa300;
$yellow: #ffec27;
$lime: #00e436;
$aqua: #29adff;
$purple2: #83769c;
$pink: #ff77a8;
$beige: #ffccaa;
